Acad-C3D-Tools/LERImporter/Schema/1.0_dimensions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
  xmlns="http://www.w3.org/2001/XMLSchema"
  xmlns:dim="http://data.gov.dk/schemas/dimensions/1/gml"
  xmlns:gml="http://www.opengis.net/gml/3.2"
  elementFormDefault="qualified"
  targetNamespace="http://data.gov.dk/schemas/dimensions/1/gml"
  version="1.0.1">
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="LinearDimension" substitutionGroup="gml:AbstractFeature" type="dim:LinearDimensionType">
    <annotation>
      <documentation>linear size of a feature of size or a linear distance between two features</documentation>
    </annotation>
  </element>
  <complexType name="LinearDimensionType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="dimensionalValue" type="gml:MeasureType">
            <annotation>
              <documentation>nominal numerical value expressed in a specific unit relevant to a linear or angular dimension</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="propertyIndicator" type="string">
            <annotation>
              <documentation>symbol used to define the shape of a feature or property of an entity composed by several features</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="dimensionLine" type="gml:CurvePropertyType">
            <annotation>
              <documentation>straight or curved line with terminators at each end or origin and terminator at each end, indicating the size of a feature or the extent of a feature or between two features, or between a feature and an extension line, or between two extension lines</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="startDimensionPoint" type="gml:PointPropertyType">
            <annotation>
              <documentation>first point of the dimension line</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="startDimensionLineExtension" type="gml:CurvePropertyType">
            <annotation>
              <documentation>dimension line extension at the start dimension point</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="startExtensionLine" type="gml:CurvePropertyType">
            <annotation>
              <documentation>extension line at the start dimension point</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="endDimensionLineExtension" type="gml:CurvePropertyType">
            <annotation>
              <documentation>dimension line extension at the end dimension point</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="endDimensionPoint" type="gml:PointPropertyType">
            <annotation>
              <documentation>last point of the dimension line</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="endExtensionLine" type="gml:CurvePropertyType">
            <annotation>
              <documentation>extension line at the end dimension point</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LinearDimensionPropertyType">
    <sequence minOccurs="0">
      <element ref="dim:LinearDimension"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
